.cardStyle{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card{
      margin:10px;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: cornflowerblue;
  }
  .navLi{
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    padding-top: 15px;
    padding-right: 20px;
    font-size: larger;
    color: white;
  }